@model AuthorListModel
@{
    ViewData["Title"] = "Authors";
}

@section Styles
{
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.dataTables.min.css">
}

<!--begin::App Content Header-->
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm-6"><h3 class="mb-0">Authors</h3></div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Authors</li>
                </ol>
            </div>
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
<!--end::App Content Header-->
<!--begin::App Content-->
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><i class="fas fa-search mr-1"></i>Search Author</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" asp-for="SearchItem.Name" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Biography</label>
                                <input type="text" asp-for="SearchItem.Biography" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Rating From</label>
                                <input type="number" asp-for="SearchItem.RatingFrom" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Rating To</label>
                                <input type="number" asp-for="SearchItem.RatingTo" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button id="searchButton" type="submit" class="btn btn-primary float-right">Search</button>
                </div>
            </div>
        </div>
        <!--begin::Row-->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header"><h3 class="card-title">Available Authors</h3></div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <partial name="_ResponsePartial" />
                        <partial name="_ModalPartial" />
                        <table id="authors" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Biography</th>
                                    <th>Rating</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Biography</th>
                                    <th>Rating</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
<!--end::App Content-->
@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.print.min.js"></script>
    <script>
        $(function () {
            $("#authors").DataTable({
                processing: true,
                serverSide: true,
                responsive: true,
                lengthChange: true,
                autoWidth: false,
                lengthMenu: [
                    [10, 25, 50, -1],
                    [10, 25, 50, 'All']
                ],
                layout: {
                    topStart: 'buttons',  // Buttons on the Left
                    topEnd: 'search',     // Search Bar on the Right
                },
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                ajax: {
                   url: "/Admin/Authors/GetAuthorJsonDataSP",
                    type: "POST",
                    contentType: "application/json", //must be added
                    dataType: "json", //better to add, not mandatory
                    data: function (d) {
                        d.SearchItem = {
                            Name: $("#SearchItem_Name").val(),
                            Biography: $("#SearchItem_Biography").val(),
                            RatingFrom: $("#SearchItem_RatingFrom").val() === ""? null : $("#SearchItem_RatingFrom").val(),
                            RatingTo: $("#SearchItem_RatingTo").val() === "" ? null : $("#SearchItem_RatingTo").val()
                        };
                        return JSON.stringify(d);
                    },
                },
                columnDefs: [
                    {
                        orderable: false,
                        targets: 3,
                        render: function (data, type, row) {
                            console.log(type);
                            return `<button type="submit" class="btn btn-info btn-sm" onclick="window.location.href='/admin/authors/update/${data}'" value='${data}'>
                                                <i class="fas fa-pencil-alt">
                                                </i>
                                                Edit
                                            </button>
                                            <button type="submit" class="btn btn-danger btn-sm show-bs-modal" data-id='${data}' value='${data}'>
                                                <i class="fas fa-trash">
                                                </i>
                                                Delete
                                            </button>`;
                        }
                    }
                ],
                 dom: '<"row"<"col-sm-12 col-md-6"lB><"col-sm-12 col-md-6"f>><"row"<"col-sm-12"tr>><"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#authors_wrapper .col-md-6:eq(0)');



            $('#authors').on('click','.show-bs-modal', function(){

                let id=$(this).data("id");
                let deletemodal=$("#modal-delete");
                deletemodal.find('.modal-body p').text('Are you sure you want to delete this author?')
                $('#delete-id').val(id);
                $('#delete-form').attr('action','/admin/authors/delete')
                deletemodal.modal('show');

            });


            $('#delete-button').click(function(){
                $('#delete-form').submit();
            });


             $("#searchButton").click(function () {
                $('#authors').DataTable().ajax.reload(null, false);
            });


            });


    </script>
}